# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules/

# hardhat
artifacts/
typechain-types/
cache/
coverage/

# misc
.DS_Store
.cache

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
coverage.json
